-# <サイドバー>
.side-bar
  .side-bar__header
    .side-bar__header__top-items
      .side-bar__header__top-items__name
        = current_user.name
      .side-bar__header__top-items__icons
        = link_to new_group_path do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')

  .side-bar__main
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .side-bar__main__top-group
            = group.name
          .side-bar__main__top-message
            まだメッセージがありません


